In [1]:
import ollama

In [2]:
import pandas as pd

## Reading employee data as a pandas dataframe

In [3]:
data = pd.read_csv("employees.csv")
data.head()

                            employee_id      name               designation
0  b2b4e014-fa01-40b9-aeb7-4182a72c31da   Brianna         Software Engineer
1  eb6d79c3-a8e1-4d3b-8027-33dae18990e0  Jennifer  Senior Software Engineer
2  a67a773d-89f9-4bb2-8a1c-c68db84b0028   Jessica                 Team Lead
3  97b6548d-ad5c-4f89-8f0e-fcd90478861e    Cheryl           Project Manager
4  1e7a8ba4-0741-4707-b8dc-921ba3909760   Abigail       Technical Architect

## Local SLM model phi3

In [4]:
from langchain_community.llms import Ollama
llm = Ollama(model = "phi3")

In [14]:
from pandasai.llm.local_llm import LocalLLM
llm = LocalLLM(
    api_base = "http://localhost:11434/v1",
    model = "phi3"
)

### Using PandasAI to chat with own dataframe

In [15]:
from pandasai import SmartDataframe

In [16]:
df = SmartDataframe(data, config={"llm": llm})

In [18]:
df.chat('how many employees are there?')

100

In [19]:
df.chat('how many employees with designation Team Lead are there?')

5

In [11]:
df.chat('how many employees with designation Software Engineer are there?')

5

In [10]:
df.chat('how many employees with designation Senior Software Engineer are there?')

5

In [12]:
df.chat('I have given you data of employee id, name and designation. Based on their designation, give me the hierarchy of the company from top to bottom')

{'type': 'dataframe', 'value':                              employee_id       name               designation  \
80  6f59590f-b5c8-482e-ace1-73b992882f54      Amber         Software Engineer
0   b2b4e014-fa01-40b9-aeb7-4182a72c31da    Brianna         Software Engineer
40  cf9f533e-8b42-4074-8c2a-3700c8483830     Brooke         Software Engineer
60  82f723fd-1c61-4899-af46-259f8a500d77  Frederick         Software Engineer
20  357fbca9-0575-4a73-8d94-cc5e702b41b5     Rachel         Software Engineer
..                                   ...        ...                       ...
61  a2f52e7b-8695-42bb-a890-9f411be5b73c     Taylor  Senior Software Engineer
51  08a86a22-8ea1-4680-b152-741502797058     Teresa    Database Administrator
81  a2f067e6-9080-4ed8-92be-24fa6779af5a     Tracey  Senior Software Engineer
82  04b45c38-1c7f-49bd-a74a-a02fe01de474   Veronica                 Team Lead
53  fe2f8aa5-fd04-4aec-a3ee-b550c31602d4   Virginia            UI/UX Designer

    hierarchy_level
80              4.0
0               4.0
40              4.0
60              4.0
20              4.0
..              ...
61              NaN
51              NaN
81              NaN
82              NaN
53              NaN

[100 rows x 4 columns]}

,employee_id,name,designation,hierarchy_level
80,6f59590f-b5c8-482e-ace1-73b992882f54,Amber,Software Engineer,4.0
0,b2b4e014-fa01-40b9-aeb7-4182a72c31da,Brianna,Software Engineer,4.0
40,cf9f533e-8b42-4074-8c2a-3700c8483830,Brooke,Software Engineer,4.0
60,82f723fd-1c61-4899-af46-259f8a500d77,Frederick,Software Engineer,4.0
20,357fbca9-0575-4a73-8d94-cc5e702b41b5,Rachel,Software Engineer,4.0
...,...,...,...,...
61,a2f52e7b-8695-42bb-a890-9f411be5b73c,Taylor,Senior Software Engineer,NaN
51,08a86a22-8ea1-4680-b152-741502797058,Teresa,Database Administrator,NaN
81,a2f067e6-9080-4ed8-92be-24fa6779af5a,Tracey,Senior Software Engineer,NaN
82,04b45c38-1c7f-49bd-a74a-a02fe01de474,Veronica,Team Lead,NaN
53,fe2f8aa5-fd04-4aec-a3ee-b550c31602d4,Virginia,UI/UX Designer,NaN

In [15]:
df.chat('I have given you data of employee id, name and designation. Based on their unique designation, give me the hierarchy of the company from top to bottom.')

Traceback (most recent call last):
  File "C:\Users\IotWorks\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandasai\pipelines\chat\generate_chat_pipeline.py", line 310, in run
    ).run(input)
      ^^^^^^^^^^
  File "C:\Users\IotWorks\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandasai\pipelines\pipeline.py", line 137, in run
    raise e
  File "C:\Users\IotWorks\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandasai\pipelines\pipeline.py", line 101, in run
    step_output = logic.execute(
                  ^^^^^^^^^^^^^^
  File "C:\Users\IotWorks\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandasai\pipelines\chat\code_generator.py", line 33, in execute
    code = pipeline_context.config.llm.generate_code(input, pipeline_context)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\IotWorks\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandasai\llm\base.py", line 202, in generate_code
    return self._extract_code(response)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\IotWorks\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandasai\llm\base.py", line 127, in _extract_code
    raise NoCodeFoundError("No code found in the response")
pandasai.exceptions.NoCodeFoundError: No code found in the response

'Unfortunately, I was not able to answer your question, because of the following error:\n\nNo code found in the response\n'

In [20]:
df.chat('What is the designation of the employee Amber?')

{'type': 'string', 'value': 'Designation of Amber: Software Engineer'}

'Designation of Amber: Software Engineer'